!**/[Pp]ackages/build/
!.axoCover/settings.json
!/src/test/run-make/thumb-none-qemu/example/.cargo
!?*.[Cc]ache/
!src/bin
$tf/
*$py.class
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
**node_modules
**package-lock.json
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.DotSettings.user
*.GhostDoc.xml
*.VC.VC.opendb
*.VC.db
*.VisualState.xml
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cachefile
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.e2e
*.gpState
*.ilk
*.iml
*.iobj
*.ipdb
*.jfm
*.jmconfig
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.py[cod]
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.snupkg
*.suo
*.svclog
*.swo
*.swp
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.vbw
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
.#*
.*crunch*.local.xml
.DS_Store
.axoCover/*
.builds
.cargo
.cproject
.cr/personal
.fake/
.favorites.json
.hg/
.hgignore
.idea
.ionide/
.localhistory/
.mfractor/
.ntvs_analysis.dat
.paket/paket.exe
.project
.sass-cache/
.settings/
.valgrindrc
.xcode/
.vs/
.vscode/*
!.vscode/c_cpp_properties.json
/Makefile
/build/
/config.toml
/dist/
/dl/
/doc/
/inst/
/llvm/
/mingw-build/
/obj/
/src/tools/x/target
/target
/tmp/
/unicode-downloads
ASALocalRun/
AppPackages/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
BundleArtifacts/
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CMakeSettings.json
CTestTestfile.cmake
ClientBin/
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
FakesAssemblies/
FodyWeavers.xsd
Generated\ Files/
Generated_Code/
Makefile
MigrationBackup/
OpenCover/
Package.StoreAssociation.xml
PublishScripts/
ScaffoldingReadMe.txt
ServiceFabricBackup/
Session.vim
StyleCopReport.xml
TAGS
TAGS.*
TestResult.xml
Testing
UpgradeLog*.XML
UpgradeLog*.htm
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
\#*
\#*\#
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
_deps
_pkginfo.txt
artifacts/
bld/
cmake-build-*/
cmake_install.cmake
compile_commands.json
config.mk
config.stamp
coverage*.info
coverage*.json
coverage*.xml
csx/
dlldata.c
ecf/
healthchecksdb
imgui.ini
install_manifest.txt
ipch/
mono_crash.*
nCrunchTemp_*
no_llvm_build
node_modules/
nunit-*.xml
orleans.codegen.cs
out/
paket-files/
project.fragment.lock.json
project.lock.json
publish/
rcf/
tags
tags.*
target/
vcpkg_installed/
x64/
x86/
~$*